/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */

/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* --------------------------- */

* {
  box-sizing: border-box;
}

:root {
  --border-radius: .5rem;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-primary: #4B3F72;
  --color-error: #ff494c;
  --color-highlight: #FFFF00;
  --font-family: sans-serif;
  --height: 5rem;
  --btn-width: 5rem;
  --color-table: #f1f1f1;
  --color-table-even: rgba(255, 255, 255, .1);
}


body {
  background: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  min-height: 100vh;
  color: var(--color-light);
  font-family: var(--font-family);
}

#search-section form {
  position: relative;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  margin: 1rem 0;
}

#search-section .error {
  border: 4px dashed var(--color-error);
}

#search-section input, #search-section button {
  height: var(--height);
  font-family: var(--font-family);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}

#search-section input[type="search"] {
  position: relative;
  width: 100%;
  padding: 0 1.6rem;
  border-radius: var(--border-radius);
  appearance: none;
  z-index: 1;
  outline: 0;
  background: var(--color-light);
}

#search-section button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  color: var(--color-light);
  font-size: 1.25rem;
  cursor: pointer;
}

#search-section input:not(:placeholder-shown) {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  width: calc(100% - var(--btn-width));
}

#search-section input:not(:placeholder-shown) + button {
  display: block;
}

#search-section label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

#result-section {
  display: none;
  width: 100%;
  max-width: 1024px;
}

#result-section table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--color-light);
  padding: .5rem;
}

#result-section table td, #result-section table th {
  border: 1px solid var(--color-light);
  padding: .5rem;
}

#result-section table tr:nth-child(even){
  background-color: var(--color-primary);
}

#pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  height: 42px;
  background-color: var(--color-light);
  margin: 0 auto 1rem auto;
}

#pagination .pagination__buttons {
  display: flex;
  flex-shrink: 1;
  min-width: 80px;
}

#pagination .pagination__buttons button {
  flex-grow: 1;
  height: 42px;
}

#pagination button {
  border: 0;
  background-color: var(--color-light);
  cursor: pointer;
}

#pagination .pagination__pages {
  display: flex;
  flex-grow: 1;
}

#pagination .pagination__pages button {
  flex-grow: 1;
  height: 42px;
}

#pagination button.active {
  background-color: var(--color-primary);
  color: var(--color-light);
}

#pagination .pagination-button--bold {
  font-weight: bold;
  font-size: 1.1rem;
}

mark {
  background-color: var(--color-highlight);
}